<% content_for :title do %>
   Users New
<% end %>

 <h1>Users New</h1>

<p>Find me in app/views/users/new.html.erb</p>

<form>
	<label>First Name:</label>
	<input type="text" name="first_name"><br>
	<label>Last Name:</label>
	<input type="text" name="last_name"> <br>
	<label>Email Address:</label>
	<input type="text" name="email_address"> <br>
	<input type="submit" value="Submit">
</form>
