<% content_for :title do %>
   Posts New
<% end %>

<h1>Post New</h1>
<!-- <p>Find me in app/views/posts/new.html.erb</p> -->

<form>
	<label>Title:</label>
	<input type="text" name="title"><br>
	<label>Content:</label>
	<input type="text" name="content"> <br>
	<input type="submit" value="Submit">
</form>